/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana,Arial, Helvetica, sans-serif;
}

a:link {
    color: #666666;
}

/*top.html.erb*/

body {
    margin: 33px;
}
.text1 {
    margin-left: 17.42px 0;
}

.text-1 {
    margin: 33px;
}

.text-2 {
    margin: 33px;
}

.text-3 {
    margin: 33px;
}

.box-index1 {
    width: 148px;
    padding: 1px 5px 7px;
}

.box-index2 {
    width: 398px;
    padding: 1px 5px 7px;
}

.index-s {
    padding: 1px 5px 7px;
}

.index-e {
    padding: 1px 5px 7px;
}

.index-d {
    padding: 1px 5px 7px;
}

/*index.html.erb*/

.index-title {
    margin: 33px 0;
}

.form-title {
    margin: 16.185px 0;
}

.new-book-title {
    padding: 1px 2px;
}

.new-book-body {
    padding: 1px;
    margin: 0px 0px 10px;
}

.notice {
    color: #008000;
    margin: 33px;
}

/*show.html.erb*/

.show-title {
    display: flex;
    margin: 33px;
}

.show-body {
    display: flex;
    margin: 33px;
}

/*edit.html.erb*/

.edit-h1 {
    margin: 17.42px 0;
}

.edit-body {
    margin: 0 0 10px;
}

.edit-button {
    padding: 1px 6px;
}